.btn-primary {
background-color: #767676;
border-color: #cccccc;
}
.btn-danger {
background-color: #ff003e;
border-color: #cccccc;
}    

.spacer-xs {
height: 10px;
}

.spacer-s {
height: 17.5px;
}

.spacer-m {
height: 25px;
}

.spacer-l {
height: 37.5px;
}

.spacer-xl {
height: 50px;
}

.spacer-xxl {
height: 75px;
}

.bg-none {
background-color:rgba(0, 0, 0, 0);
}

.ITSs {
/* Sektion */
display: table;
width: 100%;
min-width: fit-content;
}

.ITSr1 {
/* ungerade Zeile */
display: table-row;
padding: 4px 20px;
min-width: fit-content;
}

.ITSr0 {
/* gerade Zeile */
display: table-row;
padding: 4px 20px;
min-width: fit-content;
}

.ITSr1:hover {
background-color: #cccccc;
/* ungerade Zeile */
display: table-row;
padding: 4px 20px;
min-width: fit-content;
}

.ITSr0:hover {
background-color: #cccccc;
/* gerade Zeile */
display: table-row;
padding: 4px 20px;
min-width: fit-content;
}

.ITSg {
/* Gruppe */
font-weight: bold;
font-size: medium;
padding: 10px 20px;
display: block;
border-bottom: 1px #ff003e solid;
min-width: fit-content;
}

.ITSn {
/* Name */
display: table-cell;
color: #555;
vertical-align: top;
padding: 4px 20px;
white-space: nowrap;
overflow: hidden;
width: 50%;
font-weight: bold;
font-size: small;
min-width: fit-content;
}

.ITSv {
/* Wert */
display: table-cell;
color: #555;
vertical-align: top;
padding: 4px 20px;
font-size: small;
min-width: fit-content;
}

.ITSnSpecial {
/* Name */
display: table-cell;
color: #555;
vertical-align: top;
padding: 4px 20px;
white-space: nowrap;
overflow: hidden;
width: 25%;
font-weight: bold;
font-size: small;
min-width: fit-content;
}

.ITSrSpecial {
/* gerade Zeile */
display: table-row;
padding: 4px 20px;
min-width: fit-content;
}

.dgth {
border-bottom: 1px #ff003e solid;
}

table {
margin-top: 15px;
}

tr:hover {
background-color: #cccccc;
}

td,th {
padding-top: 5px;
padding-bottom: 5px;
}

.divtextarea_Desc {
min-height: fit-content;
max-height: 20vh;
overflow: auto
}

.divtextarea_Cloud {
min-height: fit-content;
max-height: 10vh;
overflow: auto
}

.textareasize{
    width: 100%;
    height: 10vh;
    min-height: fit-content;
    max-height: 20vh;
    overflow: auto
}

.form-control {
    min-width: 180px;
}