
<button class="btn btn-danger btn-lg me-2" type="button" (click)="goBack()"><i class="fa-solid fa-arrow-left fa-2x"></i></button>
<button class="btn btn-primary btn-lg me-2" type="button" (click)="goToPage()"><i class="fa-solid fa-pen fa-2x"></i></button>
<button class="btn btn-primary btn-lg me-2" type="button" (click)="onExportXLSX()"><i class="fa-solid fa-file-excel fa-2x"></i></button>
<button class="btn btn-primary btn-lg me-2" type="button" (click)="onExportCSV()"><i class="fa-solid fa-file-csv fa-2x"></i></button>
<button class="btn btn-danger btn-lg me-2" type="button" (click)="delete()"><i class="fa-solid fa-trash-can fa-2x"></i></button>

<div class="row">
    <div class="col spacer-xl"></div>
</div>

    <!-- Container Header-->
    <div class="row">
        <div class="col d-flex align-items-center justify-content-start">
            <div style="font-weight: bold;font-size: large;text-shadow: #e0e0e0 1px 1px 0;">{{ calculations?.basicform?.calculationName }}</div>
        </div>
    </div>


<div class="row">
    <div class="col spacer-xl"></div>
</div>
    
    
    <!-- Allgemein / Projekt -->
    <div class="row">
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">Allgemein</div>
                    <!-- <div class="ITSr0">
                        <div class="ITSn">Idenitäten</div>
                        <div class="ITSv">{{ this.CalculateIdentities() }}</div>
                    </div>-->
                    <div class="ITSr0">
                        <div class="ITSn">Zielsyteme</div>
                        <div class="ITSv">{{ this.CalculateTargetsystems() }}</div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Server</div>
                        <div class="ITSv">{{ this.CalculateServer() }}</div>
                    </div>
            </div>
        </div>
        <div class="col-8">
            <div class="ITSs">
                <div class="ITSg">Projekt</div>
                <div class="ITSr1">
                    <div class="ITSnSpecial">Anforderungsbeschreibung</div>
                    <div class="ITSvSpecial">{{ calculations?.basicform?.calculationDesc }}</div>
                </div>
            </div>
        </div>
    </div>

    
<div class="row">
    <div class="col spacer-xl"></div>
</div>


    <!-- Kunde / Markteinheit -->
    <div class="row">
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">Kunde</div>
                <div class="ITSr1">
                    <div class="ITSn">Kundenname</div>
                    <div class="ITSv">{{ calculations?.customerform?.customerName }}</div>
                </div>
                <div class="ITSr0">
                    <div class="ITSn">Mitarbeiter</div>
                    <div class="ITSv">{{ calculations?.customerform?.customerEmployees }}</div>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col spacer-xl"></div>
</div>

    <!-- Service und Zielsysteme -->
    <div class="row">
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">Service</div>
                    <div class="ITSr0">
                        <div class="ITSn">IAM Lizenz</div>
                        <div class="ITSv">{{ CalculateLicenseOIM() }}</div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Servicelevel</div>
                        <div class="ITSv">{{ CalculateServicelevel() }}</div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Stages</div>
                        <div class="ITSv">{{ CalculateStages() }}</div>
                    </div>
            </div>
        </div>
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">Microsoft Applikationen</div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Active Directories</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountMSAD }}</div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Azure Active Directories</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountMSAAD }}</div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl Microsoft Exchange</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountMSEX }}</div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Microsoft Exchange Online</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountMSEXO }}</div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl Microsoft Sharepoint</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountMSSP }}</div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Microsoft Sharepoint Online</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountMSSPO }}</div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Microsoft Teams</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountMSTEAMS }}</div>
                    </div>
            </div>
        </div>
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">SAP Applikationen</div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl SAP HCM per CSV</div>
                        <div class="ITSv">{{ CalculateSAPHCMCSV() }}</div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl SAP HCM per Konnektor</div>
                        <div class="ITSv">{{ CalculateSAPHCM() }}</div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl SAP R3 Applikation</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountSAPAPP }}</div>
                    </div>
                <div class="ITSg">Andere Applikationen</div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl File Systeme</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountFS }}</div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl LDAP Systeme</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountLDAP }}</div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Starling Konnektoren</div>
                        <div class="ITSv">{{ calculations?.targetsystemsform?.amountSTAR }}</div>
                    </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col spacer-xl"></div>
</div>

<!-- Hardware -->
    <div class="row">
        <div class="col">
            <div class="ITSs">
                <div class="ITSg">Hardware</div>
                <div class="ITSrSpecial">
                    <div class="ITSn">
                        <table>
                            <thead>
                                <tr>
                                    <th class="dgth" width="5%">#.</th>
                                    <th class="dgth" width="5%">Stage</th>
                                    <th class="dgth" width="5%">Size</th>
                                    <th class="dgth" width="5%">Rolle</th>
                                    <th class="dgth" width="5%">CPU</th>
                                    <th class="dgth" width="5%">Ram</th>
                                    <th class="dgth" width="5%">Speicher</th>
                                    <th class="dgth" width="5%">Backupspeicher</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let srv of calculations?.servers; let z = index; trackBy: trackBySrvIndex">
                                    <td>{{ z + 1 }}</td>

                                    <td>{{srv.stage}}</td>

                                    <td>{{srv.size}}</td>
                                    
                                    <td>{{srv.role}}</td>

                                    <td>{{ srv.cpu }}</td>

                                    <td>{{ srv.ram }}</td>

                                    <td>{{ srv.storage }}</td>

                                    <td>{{ srv.backupstorage }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col spacer-xl"></div>
</div>


<div class="row">
    <div class="col spacer-xl"></div>
</div>