
<div class="row">
    <div class="col spacer-xl"></div>
</div>
<div class="row">
    <div class="col ownCol" *ngFor="let calc of calculations">
        <a (click)="goToPage('/Calculation/' + calc._id);">
            <div class="ITSs">
                <div class="ITSg">{{ calc.basicform.calculationName }}</div>
                <div class="ITSr1">
                    <div class="ITSn">Identitäten</div>
                    <div class="ITSv">{{ calc.customerform.customerEmployees}}</div>
                </div>
                <div class="ITSr1">
                    <div class="ITSn">Zielsysteme</div>
                    <div class="ITSv">{{ this.amountOfTargetsystems(calc._id.oid) || 0 }}</div>
                </div>
                <div class="ITSr1">
                    <div class="ITSn">Server</div>
                    <div class="ITSv"> {{ calc.servers.length }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col spacer-s"></div>
            </div>
        </a>
    </div>
</div>