<form [formGroup]="EditCalcForm" (ngSubmit)="onSubmit(EditCalcForm.value)" #f="ngForm">
    <button class="btn btn-danger d-inline-flex align-items-center" type="button" (click)="goBack()"><i class="bi bi-arrow-left"></i></button>
    <button class="btn btn-primary d-inline-flex align-items-center" type="submit" (click)="goBack()"><i class="bi bi-floppy"></i></button>

<div class="row">
    <div class="col spacer-l"></div>
</div>


    <!-- Projekt -->
    <div class="row">
        <div class="col-4" formGroupName="basicform">
            <div class="ITSs">
                <div class="ITSg">Kalkulation</div>
                <div class="ITSr1">
                    <div class="ITSn">Kalkulationame</div>
                    <div class="ITSv"><input class="form-control" type="text" formControlName="calculationName" formControlName="calculationName"></div>
                </div>
            </div>
        </div>
        <div class="col-8" formGroupName="basicform">
            <div class="ITSs">
                <div class="ITSg">Projekt</div>
                <div class="ITSr1">
                    <div class="ITSnSpecial">Anforderungsbeschreibung</div>
                    <div class="ITSv">
                        <textarea class="form-control" contenteditable="true" aria-multiline="true" formControlName="calculationDesc"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
<div class="row">
    <div class="col spacer-l"></div>
</div>


    <!-- Kunde / Markteinheit -->
    <div class="row">
        <div class="col-4" formGroupName="customerform">
            <div class="ITSs">
                <div class="ITSg">Kunde</div>
                <div class="ITSr1">
                    <div class="ITSn">Kundenname</div>
                    <div class="ITSv"><input class="form-control" type="text" formControlName="customerName"></div>
                </div>
                <div class="ITSr0">
                    <div class="ITSn">Kundennummer</div>
                    <div class="ITSv"><input class="form-control" type="text" formControlName="customerNumber"></div>
                </div>
                <div class="ITSr1">
                    <div class="ITSn">Mitarbeiter (intern)</div>
                    <div class="ITSv"><input class="form-control" type="text" formControlName="customerInternalEmployees"></div>
                </div>
                <div class="ITSr0">
                    <div class="ITSn">Mitarbeiter (extern)</div>
                    <div class="ITSv"><input class="form-control" type="text" formControlName="customerExternalEmployees"></div>
                </div>
            </div>
        </div>
        <div class="col-4" formGroupName="marketunitform">
            <div class="ITSs">
                <div class="ITSg">Markteinheit</div>
                <div class="ITSr0">
                    <div class="ITSn">Name</div>
                    <div class="ITSv"><input class="form-control" type="text" formControlName="marketunitName"></div>
                </div>
                <div class="ITSr1">
                    <div class="ITSn">Ansprechpartner</div>
                    <div class="ITSv"><input class="form-control" type="text" formControlName="marketunitResponsible"></div>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col spacer-l"></div>
</div>

    <!-- Service und Zielsysteme -->
    <div class="row">
        <div class="col-4" formGroupName="targetsystemsform">
            <div class="ITSs">
                <div class="ITSg">Service</div>
                    <div class="ITSr0">
                        <div class="ITSn">IAM Lizenz</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="licenseOIM">
                                <option value="1">Standard</option>
                                <option value="2">Data Governance Editon</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Servicelevel</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="servicelevel">
                                <option value="1">Business Standard</option>
                                <option value="2">Business Critical</option>
                                <!--<option value="3">Business Critical +</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Stages</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="stages">
                                <option value="1">P D</option>
                                <option value="2">P Q D</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Dedizierte Jobserver</div>
                        <div class="ITSv">
                            <input type="checkbox" formControlName="dedicatedSrv">
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Server Antivirus</div>
                        <div class="ITSv">
                            <input type="checkbox" formControlName="antivirSrv">
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-4" formGroupName="targetsystemsform">
            <div class="ITSs">
                <div class="ITSg">Microsoft Applikationen</div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Active Directories</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountMSAD">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Azure Active Directories</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountMSAAD">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl Microsoft Exchange</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountMSEX">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Microsoft Exchange Online</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountMSEXO">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl Microsoft Sharepoint</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountMSSP">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Microsoft Sharepoint Online</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountMSSPO">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Microsoft Teams</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountMSTEAMS">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-4" formGroupName="targetsystemsform">
            <div class="ITSs">
                <div class="ITSg">SAP Applikationen</div>
                    <div class="ITSr1">
                        <div class="ITSn">SAP HCM per CSV</div>
                        <div class="ITSv">
                            <input type="checkbox" formControlName="amountSAPHCMCSV" (change)="checkSAPHCM(optionValueSAPHCM)">
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">SAP HCM per Konnektor</div>
                        <div class="ITSv">
                            <input type="checkbox" formControlName="amountSAPHCM" (change)="checkSAPHCM(optionValueSAPHCM)">
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl SAP R3 Applikation</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountSAPAPP">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                <div class="ITSg">Andere Applikationen</div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl File Systeme</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountFS">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl LDAP Systeme</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountLDAP">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Starling Konnektoren</div>
                        <div class="ITSv">
                            <select class="form-control" formControlName="amountSTAR">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Cloudsysteme Starling Konnektoren</div>
                        <div class="ITSv">
                            <textarea class="form-control divtextarea_Cloud" contenteditable="true" aria-multiline="true" formControlName="cloudProducts"></textarea>
                        </div>
                    </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col spacer-l"></div>
</div>



    <!-- Hardware -->
    <div class="row" formGroupName="servers">
        <div class="col">
            <div class="ITSs">
                <div class="ITSg">
                    Hardware <button class="btn btn-outline-danger btn-sm border-0" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseAddServer'">Server hinzufügen</button>
                </div>
                <div class="ITSr">
                    <div class="accordian-body collapse p-2" id="collapseAddServer">
                        <div class="col d-flex align-items-center">
                            <div class="input-group">
                                <select class="form-control">
                                    <option value="PROD">PROD</option>
                                    <option value="QS" *ngIf="calculations?.targetsystemsform?.stages==2">QS</option>
                                    <option value="DEV">DEV</option>
                                </select>
                                <select class="form-control">
                                    <option value="XL">XL</option>
                                    <option value="L">L</option>
                                    <option value="M">M</option>
                                    <option value="S">S</option>
                                    <option value="XS">XS</option>
                                </select>
                                <select class="form-control">
                                    <option value="DB">DB</option>
                                    <option value="Web">Web</option>
                                    <option value="Job">Job</option>
                                    <option value="DC">DC</option>
                                    <option value="All">All</option>
                                </select>
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <button class="btn btn-success" type="submit">Speichern</button>
                                <button class="btn btn-danger" type="reset">Abbruch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ITSrSpecial">
                    <div class="ITSn">
                        <table>
                            <thead>
                                <tr>
                                    <th class="dgth" width="5%">#.</th>
                                    <th class="dgth" width="5%">Stage</th>
                                    <th class="dgth" width="5%">Size</th>
                                    <th class="dgth" width="5%">Rolle</th>
                                    <th class="dgth" width="5%">CPU</th>
                                    <th class="dgth" width="5%">Ram</th>
                                    <th class="dgth" width="5%">Speicher</th>
                                    <th class="dgth" width="5%">Backupspeicher</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let srv of serversArr.controls; index as i" [formGroupName]="i">
                                    <td>{{ i }}</td>
                                    <td><input type="text" class="form-control" formControlName="stage"></td>
                                    <td><input type="text" class="form-control" formControlName="size"></td>
                                    <td><input type="text" class="form-control" formControlName="role"></td>
                                    <td><input type="text" class="form-control" formControlName="addCPU"></td>
                                    <td><input type="text" class="form-control" formControlName="addRAM"></td>
                                    <td><input type="text" class="form-control" formControlName="storage"></td>
                                    <td><input type="text" class="form-control" formControlName="backupstorage"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
    

<div class="row">
    <div class="col spacer-l"></div>
</div>
</form>