<button class="btn btn-danger d-inline-flex align-items-center" type="button" (click)="goBack()"><i class="bi bi-arrow-left"></i></button>
<button class="btn btn-primary d-inline-flex align-items-center" type="button"><i class="bi bi-floppy"></i></button>

<div class="row">
    <div class="col spacer-l"></div>
</div>

    <!-- Container Header-->
    <div class="row">
        <div class="col d-flex align-items-center justify-content-start">
            <div style="font-weight: bold;">{{ calculations?.basic?.calculationName }}</div>
        </div>
    </div>


<div class="row">
    <div class="col spacer-l"></div>
</div>


    <!-- Kunde / Markteinheit -->
    <div class="row">
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">Kunde</div>
                <div class="ITSr1">
                    <div class="ITSn">Kundenname</div>
                    <div class="ITSv"><input class="form-control" type="text" [value]="calculations?.customer?.customerName"></div>
                </div>
                <div class="ITSr0">
                    <div class="ITSn">Kundennummer</div>
                    <div class="ITSv"><input class="form-control" type="text" [value]="calculations?.customer?.customerNumber"></div>
                </div>
                <div class="ITSr1">
                    <div class="ITSn">Mitarbeiter (intern)</div>
                    <div class="ITSv"><input class="form-control" type="text" [value]="calculations?.customer?.customerInternalEmployees"></div>
                </div>
                <div class="ITSr0">
                    <div class="ITSn">Mitarbeiter (extern)</div>
                    <div class="ITSv"><input class="form-control" type="text" [value]="calculations?.customer?.customerExternalEmployees"></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">Markteinheit</div>
                <div class="ITSr0">
                    <div class="ITSn">Name</div>
                    <div class="ITSv"><input class="form-control" type="text" [value]="calculations?.marketunit?.marketunitName"></div>
                </div>
                <div class="ITSr1">
                    <div class="ITSn">Ansprechpartner</div>
                    <div class="ITSv"><input class="form-control" type="text" [value]="calculations?.marketunit?.marketunitResponsible"></div>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col spacer-l"></div>
</div>

    <!-- Service und Zielsysteme -->
    <div class="row">
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">Service</div>
                    <div class="ITSr0">
                        <div class="ITSn">IAM Lizenz</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.licenseOIM">
                                <option value="1">Standard</option>
                                <option value="2">Data Governance Editon</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Servicelevel</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.servicelevel">
                                <option value="1">Business Standard</option>
                                <option value="2">Business Critical</option>
                                <option value="3">Business Critical +</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Stages</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.stages">
                                <option value="1">P D</option>
                                <option value="2">P Q D</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Dedizierte Jobserver</div>
                        <div class="ITSv">
                            <input type="checkbox" [value]="calculations?.targetsystems?.dedicatedSrv">
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Server Antivirus</div>
                        <div class="ITSv">
                            <input type="checkbox" [value]="calculations?.targetsystems?.antivirSrv">
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">Microsoft Applikationen</div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Active Directories</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountMSAD">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Azure Active Directories</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountMSAAD">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl Microsoft Exchange</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountMSEX">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Microsoft Exchange Online</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountMSEXO">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl Microsoft Sharepoint</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountMSSP">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Microsoft Sharepoint Online</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountMSSPO">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Microsoft Teams</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountMSTEAMS">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-4">
            <div class="ITSs">
                <div class="ITSg">SAP Applikationen</div>
                    <div class="ITSr1">
                        <div class="ITSn">SAP HCM per CSV</div>
                        <div class="ITSv">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">SAP HCM per Konnektor</div>
                        <div class="ITSv">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="ITSr1">
                        <div class="ITSn">Anzahl SAP R3 Applikation</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountSAPAPP">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                <div class="ITSg">Andere Applikationen</div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl File Systeme</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountFS">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl LDAP Systeme</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountLDAP">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                    <div class="ITSr0">
                        <div class="ITSn">Anzahl Starling Konnektoren</div>
                        <div class="ITSv">
                            <select class="form-control" [value]="calculations?.targetsystems?.amountSTAR">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                            <input type="text" [value]="calculations?.targetsystems?.cloudProducts">
                        </div>
                    </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col spacer-l"></div>
</div>



    <!-- Hardware -->
    <div class="row">
        <div class="col">
            <div class="ITSs">
                <div class="ITSg">
                    Hardware <button class="btn btn-outline-danger btn-sm border-0" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseAddServer'">Server hinzufügen</button>
                </div>
                <div class="ITSr">
                        <div class="accordian-body collapse p-2" id="collapseAddServer">
                            <div class="col d-flex align-items-center">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option value="PROD">PROD</option>
                                        <option value="QS" *ngIf="calculations?.targetsystems?.stages==2">QS</option>
                                        <option value="DEV">DEV</option>
                                    </select>
                                    <select class="form-control">
                                        <option value="XL">XL</option>
                                        <option value="L">L</option>
                                        <option value="M">M</option>
                                        <option value="S">S</option>
                                        <option value="XS">XS</option>
                                    </select>
                                    <select class="form-control">
                                        <option value="DB">DB</option>
                                        <option value="Web">Web</option>
                                        <option value="Job">Job</option>
                                        <option value="DC">DC</option>
                                        <option value="All">All</option>
                                    </select>
                                    <input type="text" class="form-control">
                                    <input type="text" class="form-control">
                                    <input type="text" class="form-control">
                                    <input type="text" class="form-control">
                                    <button class="btn btn-success" type="submit">Speichern</button>
                                    <button class="btn btn-danger" type="reset">Abbruch</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ITSrSpecial">
                    <div class="ITSn">
                        <table>
                            <thead>
                                <tr>
                                    <th class="dgth" width="5%">#.</th>
                                    <th class="dgth" width="5%">Stage</th>
                                    <th class="dgth" width="5%">Size</th>
                                    <th class="dgth" width="5%">Rolle</th>
                                    <th class="dgth" width="5%">CPU</th>
                                    <th class="dgth" width="5%">Ram</th>
                                    <th class="dgth" width="5%">Speicher</th>
                                    <th class="dgth" width="5%">Backupspeicher</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let srv of calculations?.servers; let z = index">
                                    <td>{{ z }}</td>
                                    <td><input type="text" class="form-control" [value]="srv.stage"></td>
                                    <td><input type="text" class="form-control" [value]="srv.tshirtsize"></td>
                                    <td><input type="text" class="form-control" [value]="srv.role"></td>
                                    <td><input type="text" class="form-control" [value]="srv.addCPU"></td>
                                    <td><input type="text" class="form-control" [value]="srv.addRAM"></td>
                                    <td><input type="text" class="form-control" [value]="srv.addStorage"></td>
                                    <td><input type="text" class="form-control" [value]="srv.addBackupstorage"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>


<div class="row">
    <div class="col spacer-l"></div>
</div>


    <!-- Projekt -->
    <div class="row">
        <div class="col-12">
            <div class="ITSs">
                <div class="ITSg">Projekt</div>
                <div class="ITSr1">
                    <div class="ITSnSpecial">Anforderungsbeschreibung</div>
                    <div class="ITSv">
                        <div class="form-control" contenteditable="true" aria-multiline="true">{{ calculations?.basic?.calculationDesc }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<div class="row">
    <div class="col spacer-l"></div>
</div>